body{
  background-color: #1c1e21;
  margin: 0;
}
.logo{
  position: absolute;
  max-height: 20px;
}
.navbar{
  z-index: 50;
  padding: 10;
}
/*CSS for navbar item container*/
.navbar-nav {
  margin:0 auto;
  text-align: center;
}
/*CSS for hover effect on the navbar items*/
.hvr-fade{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.btn{
  color: #fff;
  width: 20%;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 150%;
  border-radius: 0;
}
.btn:active, .btn:hover, .btn:focus{
  border-bottom: 5px solid white;
}
.btn:focus, .btn.focus {
  color: #fff;
  background-color: #1c1e21;
  border-color: #1c1e21;
  box-shadow: 0 0 0 0.2rem rgba(0,0,0,0);
}
.formBtnContainerLogin{
  z-index: 0;
  position: absolute;
  display: inline-block;
  width: 100%;
  top: 20%;
  text-align: center;
}
#loginform > h1{
  margin-top: 5%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}
#billContainer{
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  background-color: rgba(255,255,255,0.5);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
}
#quickChoice h3{
    font-family: 'waffle';
    margin-bottom: 20px;
    margin-top: 20px;
}
