body{
  background-color: #5b99d4;
  margin: 0;
  margin-bottom: 200%;
}
.logo{
  position: absolute;
  max-height: 50px;
}
.navbar{
  z-index: 50;
  padding: 10;
}
/*CSS for navbar item container*/
.navbar-nav {
  margin:0 auto;
  text-align: center;
}
#form-container{
  display: block;
  width: 50%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
}
.main-card-title{
  font-size: 250%;
  color: #205bba;
  font-family: waffle;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  margin-top: 3%;
}
form{
  margin-top: 5%;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}
.form-label{
  float: left;
  font-family: raleway-light;
}
input{
  width: 100%;
  padding-bottom: 3%;
  padding-top: 3%;
  border-radius: 5px;
  border: 0;
  background-color: #d5d6e0;
  padding-left: 5%;
  font-family: raleway-semibold;
}
#showAdd,#showModify{
 color: #fff;
 background-color: #2d64b3;
 border-bottom-left-radius: 0;
 border-bottom-right-radius: 0;
}
#addNewAdd,#addNewModify{
 color: #fff;
 background-color: #2d64b3;
 border-top-left-radius: 0;
 border-top-right-radius: 0;
}
select{
  width: 100%;
  padding-bottom: 3%;
  padding-top: 3%;
  border-radius: 5px;
  border: 0;
  background-color: #d5d6e0;
  padding-left: 5%;
  font-family: raleway-semibold;
}
h5{
  font-family: raleway-semibold;
}
.hvr-fade{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.btn{
  color: #fff;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10%;
  margin-bottom: 10%;
  font-family: raleway-medium, sans-serif;
  font-size: 150%;
  border-radius: 10px;
}
#choosePet, #clearPet{
  margin-top: 5%;
  margin-bottom: 0%;
}
.btn:focus, .btn.focus {
  color: #fff;
  background-color: #1c1e21;
  border-color: #1c1e21;
  box-shadow: 0 0 0 0.2rem rgba(0,0,0,0);
}
.formBtnContainerLogin{
  z-index: 0;
  position: absolute;
  display: inline-block;
  width: 100%;
  top: 20%;
  text-align: center;
}
#nxforg{
  opacity: 0;
}
footer{
  position: fixed;
  bottom: 0;
  display: inline-block;
  height: 6%;
  width: 100%;
  color: white;
  padding-top: 1%;
  padding-bottom: 1%;
}
footer p{
  display: inline;
  padding: 20px;
  margin-left: 5%;
  margin-top: 10%;
}
.fa {
  padding: 5px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  display: inline;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
@font-face {
  font-family: waffle;
  src: url(fonts/waffle.otf);
}
@font-face {
  font-family: raleway-light;
  src: url(fonts/raleway-light.ttf);
}
@font-face {
  font-family: raleway-medium;
  src: url(fonts/raleway-medium.ttf);
}
@font-face {
  font-family: raleway-semibold;
  src: url(fonts/raleway-semibold.ttf);
}
@media all and (max-width: 1025px) {
  .logo{
    position: relative;
  }
  .main-card-title{
    font-size: 250%;
  }
  #form-container{
    width: 80%;
  }
  body{
    margin-bottom: 305%;
  }
  label{
    font-size: 120%;
  }
  form > a{
    font-size: 150%;
  }
  .btn{
    width: 100%;
    font-size: 150%;
  }
  .btn-primary{
    background-color: rgba(255, 255, 255, 1);
    color: #205bba;
    border: 2px solid #fff;
  }
  .btn-light{
    color: #205bba;
    border: 2px solid #fff;
  }
  .btn-light:hover {
    color: #fff;
    background-color:#095891;
    border-color: #095891;
  }
  footer{
    text-align: center;
    opacity: 0;
  }
  #nxforg{
    margin-top: 3%;
    font-weight: bold;
    opacity: 1;
  }
}
@media all and (max-width: 800px) {
  body{
    margin-bottom: 380%;
  }
}
@media all and (max-width: 400px) {
  body{
    margin-bottom: 650%;
  }
  #form-container{
    margin-top: 20%;
    width: 90%;
  }
  .main-card-title{
    font-size: 150%;
    margin-bottom: 10%;
  }
  label{
    font-size: 100%;
  }
  input{
    font-size: 80%;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  select{
    font-size: 80%;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  form > a{
    font-size: 100%;
  }
  h5{
    font-size: 80%;
  }
  #nxforg{
    font-size: 80%;
  }
}
